In [1]:
import pandas as pd
import numpy as np
import json

In [3]:
df_all = pd.read_csv("strom.csv")

points = []
for point in df_all["coordinate"]:
    lat, lon = point.split(", ")
    points.append([lat, lon])

df = pd.DataFrame(points, columns=["lat", "lon"])
df.head()

                  lat                 lon
0  49.411905256235364  10.986153400530448
1   49.41263464325208  10.989998037104534
2   49.41338884574704  10.994006005466249
3  49.414479730909385  10.996641880530275
4  49.415692450814944   10.99953787543108

In [4]:
df.to_csv("strom_new.csv", index=False)

In [24]:
data = json.load(open("export.json"))

In [35]:
d = []
for ele in data["elements"]:
    if "lon" in ele and "lat" in ele:
        lon = ele["lon"]
        lat = ele["lat"]
        d.append([lat, lon])
len(d)

8850

In [36]:
df = pd.DataFrame(d, columns=["lat", "lon"])

In [37]:
df.to_csv("wind_osm.csv", index=False)

In [7]:
x = pd.read_csv("test.csv", sep="	")

In [8]:
x.head()

         lat        lon
0  49.468527  10.980290
1  49.470975  10.979796
2  49.472747  10.979422
3  49.458989  10.982250
4  49.457318  10.982984

In [9]:
x.to_csv("power.csv", index=False)